:root {
   color-scheme: light dark;
   --black: #111;
   --white: #eee;
   --switch-color-off: var(--white);
   --switch-color-on: #85ff7a;

   --ww: 300px;
   --wh: 600px;

   --s: 12px;
   /* adjust this to control the size of switch input[type="checkbox"]*/

   --grid-min: 35px;

   --product-width: 250px;

   user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   -webkit-user-select: none;

   --bg-gradient: linear-gradient(
      to right,
      #a1ffce 0%,
      #faffd1 51%,
      #a1ffce 100%
   );
   @media (prefers-color-scheme: dark) {
      --bg-gradient: linear-gradient(
         to right,
         #ee0979 0%,
         #ff6a00 51%,
         #ee0979 100%
      );
   }
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   -ms-overflow-style: none;
   /* IE and Edge */
   scrollbar-width: none;
   /* Firefox */

   /* outline: solid 1px #f004; */
}

*::-webkit-scrollbar {
   display: none;
}

body {
   --color: light-dark(#000, #fff);
   --bg: light-dark(#fff, #000);
   position: relative;
   color: light-dark(var(--black), var(--white));
   background-color: light-dark(var(--white), var(--black));
   font-family: f3;
   width: calc(var(--ww) * 2 - var(--s));
   padding: calc(var(--s) * 1.8);
   height: var(--wh);
   display: grid;
   place-items: center;
   grid-template-rows: 4fr 2fr 25fr;
   gap: calc(var(--s) / 2);
   overflow: hidden;
}

.br-tag {
   position: relative;
   width: calc(100% - var(--s) * 2);
   height: 5px;
   border-radius: 2px;
   margin: calc(var(--s));
   background-color: light-dark(var(--black), var(--white));
}

.gap {
   --gap: 5px;
   position: relative;
   width: 100%;
   height: var(--gap);

   &.x2 {
      --gap: 10px;
   }
   &.x3 {
      --gap: 15px;
   }
   &.x4 {
      --gap: 20px;
   }
   &.x5 {
      --gap: 25px;
   }
   &.x6 {
      --gap: 30px;
   }
   &.x7 {
      --gap: 35px;
   }
   &.x8 {
      --gap: 40px;
   }
   &.x9 {
      --gap: 45px;
   }
   &.x10 {
      --gap: 50px;
   }
}

#testCanvas {
   display: none;
}
