.basic-grid {
   position: relative;
   width: 100%;
   height: 100%;
   display: grid;
   gap: calc(var(--s));
   grid-template-columns: 1fr 1fr;
   place-items: center;
   margin: 0;
   height: var(--grid-min);
   overflow: hidden;
   container-type: inline-size;

   /* --------- center parent when 2 columns --------- */
   /* @container (width >= 500px) {
      .take-inp:has(.full-width:nth-child(even)):nth-child(odd):last-child,
      .take-inp:has(.full-width:nth-child(odd)):nth-child(even):last-child {
         grid-column: span 2;
         width: calc(var(--ww) - var(--s) * 2);
      }
   } */

   .take-inp.center,
   .show-output,
   .take-inp.images {
      grid-column: span 2;
      width: calc(var(--ww) - var(--s) * 2);
   }

   &.no-flip {
      height: auto;
      overflow-y: auto;
   }

   &:not(.no-flip).active {
      height: fit-content;
      padding-bottom: calc(var(--s));

      p:not(:nth-child(2)) {
         opacity: 0;
      }
   }

   &:not(.active) {
      p:not(:first-child) {
         opacity: 0;
      }
   }

   .imp-exp.full-width {
      grid-column: span 2;
      width: 2fr;
   }

   .take-inp.full-width {
      grid-column: span 2;
      width: 2fr;
      background-color: light-dark(#0000000d, #ffffff0d);

      &.one-label-three-input {
         grid-template-columns: 2fr 3fr 3fr 3fr;
      }

      &.tow-label-tow-input {
         grid-template-columns: 2fr 3fr 2fr 3fr;
      }

      &.three-button {
         grid-template-columns: repeat(3, 1fr);
      }

      &.three-input {
         grid-template-columns: repeat(3, 1fr);
         gap: calc(var(--s) / 1.5);

         section {
            width: 100%;
            height: 100%;

            .inp.num {
               grid-template-columns: 2fr 5fr 2fr;
            }
         }
      }

      &.three-label-three-input {
         grid-template-columns: 3fr 7fr 3fr 7fr 3fr 7fr;

         &.small-label {
            grid-template-columns: 2fr 5fr 2fr 5fr 2fr 5fr;

            span {
               font-size: calc(var(--s) * 0.8);
            }
         }
      }

      &.big-textarea {
         grid-template-columns: 1fr;
         height: calc(var(--s) * 25);
         grid-template-rows: calc(var(--s) * 2.5) 1fr;

         span#jsonEditorTitle {
            color: light-dark(#000, #fff);
            transition: color 200ms linear;

            &.error {
               color: #ff0000;
            }
         }

         section {
            width: 100%;
            height: 100%;
            border-radius: inherit;
            overflow: hidden;
         }

         textarea {
            width: 100%;
            height: calc(var(--s) * 10);
            resize: none;
         }

         .CodeMirror {
            position: absolute;
            height: 100% !important;
            width: 100% !important;
            font-size: calc(var(--s) * 1.2);
            font-family: "Fira Code", monospace, system-ui, sans-serif;
            line-height: 1.2;
         }

         .CodeMirror-activeline-background {
            outline: 1px solid #5557;
            background: rgba(255, 255, 255, 0.05);
         }

         .CodeMirror-linenumber {
            font-size: calc(var(--s) * 1.2);
            margin: calc(var(--s) * 0.2) 0;
            color: light-dark(#AAA, #555);
            font-weight: 700;
         }

         .CodeMirror-focused .cm-matchhighlight {
            background: rgba(255, 255, 255, 0.1);
         }
         
         /* .cm-matchhighlight  {
            background-color: lightgreen;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFklEQVQI12NgYGBgkKzc8x9CMDAwAAAmhwSbidEoSQAAAABJRU5ErkJggg==);
            background-position: bottom;
            background-repeat: repeat-x;
         } */

         /* .CodeMirror-selection-highlight-scrollbar {
            background-color: green;
         } */
      }
   }

   label {
      position: absolute;
      top: calc(var(--s) / 2 * -1);
      left: 50%;
      transform: translateX(-50%);
      font-size: calc(var(--s) * 0.8);
      background-color: light-dark(#000000aa, #ffffffaa);
      color: light-dark(#fff, #000);
      border-radius: calc(var(--s) * 0.5);
      padding: 1px calc(var(--s) * 0.5);
      pointer-events: none;
      z-index: 1;
   }


   &.flip {
      position: relative;
      display: grid;
      width: 100%;
      grid-template-columns: 1fr 1fr;
      place-items: center;
      min-height: var(--grid-min);
      height: auto;
      grid-template-rows: auto;
   
      .open-close {
         position: relative;
         width: 100%;
         grid-column: span 2;
         height: var(--grid-min);
         display: flex;
         justify-content: center;
         align-items: center;
         cursor: pointer;
         gap: calc(var(--s));
         z-index: 3;
         font-size: calc(var(--s) * 1.5);
         text-shadow: 2px 2px var(--bg), -2px -2px var(--bg), -2px 2px var(--bg), 2px -2px var(--bg);
   
         input[type="checkbox"].open-close {
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
         }
   
         i {
            font-size: calc(var(--s) * 1.8);
            transition: transform 200ms ease-in-out;
         }
   
         &:has(input[type="checkbox"].open-close:checked) i {
            transform: scaleY(-1);
         }
      }
   
      &:has(.open-close input[type="checkbox"].open-close:checked) {
         height: auto;
      }
   
      &:has(.open-close input[type="checkbox"].open-close:not(:checked)) {
         height: var(--grid-min);
      }
   
      .import-grid {
         position: relative;
         width: 100%;
         height: 100%;
         display: grid;
         place-items: center;
         grid-template-columns: 1fr 1fr;
         gap: calc(var(--s) * 1.5);
   
   
         .part {
            position: relative;
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 1fr;
            row-gap: calc(var(--s) * 1);
   
            &.row-1fr-2fr {
               grid-template-rows: 3fr 10fr;
               row-gap: calc(var(--s) * 0.5);
               height: calc(var(--s) * 14);
            }
         }
      }
   
      .take-inp.image {
         position: relative;
         width: 100%;
         height: 100%;
         aspect-ratio: 1/1;
         display: none;
         flex-direction: column;
         justify-content: center;
         align-items: center;
   
         &.show {
            display: flex;
         }
   
         & > p {
            position: relative;
            width: 100%;
            height: calc(var(--s) * 2);
            display: grid;
            place-items: center;
            font-size: calc(var(--s) * 1.4);
            font-weight: 900;
            font-family: f6b;
         }
   
         section {
            position: relative;
            width: 100%;
            height: 90%;
            aspect-ratio: 1/1;
            overflow: hidden;
   
            input {
               display: none;
            }
   
            .img-box {
               position: relative;
               background-size: cover;
               background-position: center;
               background-repeat: no-repeat;
               background-clip: content-box;
               width: auto;
               height: auto;
            }
   
            i {
               position: absolute;
               width: 100%;
               height: 100%;
               left: 0;
               top: 0;
               display: grid;
               background-color: light-dark(#fff8, #0008);
               place-items: center;
               font-size: calc(var(--s) * 4);
               opacity: 1;
               transition: opacity 400ms;
               cursor: pointer;
   
               &.sbi-bin {
                  color: #f00;
               }
            }
   
            .img-box.active ~ i.sbi-upload4,
            .img-box:not(.active) ~ i.sbi-bin {
               display: none;
            }
   
            .img-box.active ~ i {
               opacity: 0;
            }
   
            .img-box.active ~ i:hover {
               opacity: 1;
            }
         }
      }

      .take-inp.images {
         position: relative;
         width: 100%;
         height: auto;
         display: grid;
         place-items: center;
         grid-template-columns: 1fr;
         grid-template-rows: calc(var(--s) * 3) auto calc(var(--s) * 4);

         p {
            position: relative;
            width: 100%;
            height: 100%;
            display: grid;
            place-items: center;
            font-size: calc(var(--s) * 1.8);
            font-weight: 900;
            font-family: f7b;
            text-transform: uppercase;
         }

         section.all-images {
            position: relative;
            width: 100%;
            height: auto;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            padding: calc(var(--s) * 0.5);
            gap: calc(var(--s) * 0.5);
            background-color: transparent;
            place-items: center;

            .img-box {
               position: relative;
               width: 100%;
               height: 100%;
               border-radius: calc(var(--s) * 0.7);
               aspect-ratio: 1/1;
               overflow: hidden;
               background-size: cover;
               background-position: center;
               background-repeat: no-repeat;
               background-clip: content-box;
               background-color: light-dark(#0000000d, #ffffff0d);
               display: grid;
               place-items: center;
               cursor: pointer;

               i {
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  left: 0;
                  top: 0;
                  display: grid;
                  background-color: light-dark(#fff8, #0008);
                  place-items: center;
                  font-size: calc(var(--s) * 4);
                  color: #f00;
                  opacity: 0;
                  pointer-events: none;
                  transition: opacity 300ms;
               }

               &:hover i {
                  opacity: 1;
               }
            }

         }

         .buttons {
            position: relative;
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: calc(var(--s) * 0.5);
            place-items: center;

            input {
               display: none;
            }

            button {
               position: relative;
               width: 80%;
               height: 70%;
               display: flex;
               justify-content: center;
               align-items: center;
               gap: calc(var(--s) * 1);
               font-size: calc(var(--s) * 1.2);
               font-family: f7b;
               border-radius: calc(var(--s) * 0.5);
               border: none;
               outline: none;
               text-decoration: none;
               color: light-dark(var(--black), var(--white));
               background-color: light-dark(#fffd, #000d);
               outline: solid 1px light-dark(#000, #fff);
               transition: 200ms color, 200ms scale, 200ms background-color;
               scale: 1;
               font-size: calc(var(--s) * 1.4);
               cursor: pointer;

               &:hover {
                  background-color: light-dark(#000, #fff);
                  color: light-dark(var(--white), var(--black));
                  scale: 1.02;
               }
            }
         }
      }
   }
}