.basic-grid {
   position: relative;
   width: 100%;
   display: grid;
   gap: calc(var(--s));
   grid-template-columns: 1fr 1fr;
   place-items: center;
   margin: 0;
   height: var(--grid-min);
   overflow: hidden;
   container-type: inline-size;

   /* --------- center parent when 2 columns --------- */
   @container (width >= 500px) {
      .take-inp:last-child:nth-child(odd) {
         grid-column: span 2;
         width: calc(var(--ww) - var(--s) * 2);
      }
   }

   &.no-flip {
      .take-inp.full-width {
         grid-column: span 2;
         width: 2fr;
         grid-template-columns: 2fr 3fr 3fr 2fr;
      }
   }


   /* @container (calc(100px * 4 + 3rem) < width < calc(100px * 6 + 5rem) ) {
      .item:last-child:nth-child(odd) {
        grid-column: 2 / span 2;
      }
   } */

   &.no-flip {
      height: auto;
      overflow-y: auto;
   }

   &:not(.no-flip).active {
      height: fit-content;
      padding-bottom: calc(var(--s));

      p:not(:nth-child(2)) {
         opacity: 0;
      }
   }

   &:not(.active) {
      p:not(:first-child) {
         opacity: 0;
      }
   }

}
