header {
   --h: calc(var(--s) * 6);
   position: relative;
   width: 100%;
   height: var(--h);
   display: flex;
   gap: calc(var(--s));
   justify-content: center;
   align-items: center;

   .logo {
      position: relative;
      width: calc(var(--h) - var(--s) / 4);
      height: calc(var(--h) - var(--s) / 4);

      img {
         position: absolute;
         width: 100%;
         height: 100%;
         background-size: cover;
         background-clip: center;
      }
   }

   section {
      position: relative;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
         font-family: f5b;
         font-size: calc(var(--s) * 2.5);
      }

      b {
         position: relative;
         justify-content: center;
         align-items: center;
         font-family: f5b;
         font-size: calc(var(--s) * 2);
         display: flex;
         gap: 0;

         .first {
            color: #ff4d00;
         }

         .second {
            color: #00ffd9;
         }

         .third {
            font-family: f6b;
            color: light-dark(#000, #fff);
            font-size: calc(var(--s) * 1.2);
         }
      }
   }
}

nav {
   position: relative;
   width: 100%;
   padding: 8px;
   display: grid;
   place-items: center;

   .options {
      position: relative;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      place-items: center;
      gap: 10px;

      .btn {
         position: relative;
         width: 100%;
         border-radius: 6px;
         padding: 10px;
         background-color: light-dark(#00f, #000);
         color: #fff;
         text-align: center;
         font-size: calc(var(--s) * 1.6);
         font-family: f1b;
         border: solid 1px light-dark(#0003, #fff3);
         transition: background-color 300ms, border 300ms;
         cursor: pointer;

         .option-btn {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            -ms-progress-appearance: none;
            cursor: var(--cursor);
         }

         &:active,
         &:has(input[type="radio"]:checked) {
            background-color: light-dark(#000, #00f);
            border: solid 1px light-dark(#fff3, #0003);
         }
      }
   }
}