main {
   --bg: light-dark(#ccc, #333);
   position: relative;
   width: 100%;
   height: 100%;
   display: grid;
   background-color: var(--bg);
   align-items: center;
   padding: 0 var(--s);
   border-radius: calc(var(--s) / 2);
   animation: opacity linear 400ms;
   overflow: hidden;

   &:before,
   &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 20px;
      background: linear-gradient(to bottom, var(--bg) 50%, transparent);
      z-index: 2;
   }

   &:after {
      top: auto;
      bottom: 0;
      background: linear-gradient(to top, var(--bg) 50%, transparent);
   }
}

main .container {
   position: relative;
   width: 100%;
   height: 100%;
   opacity: 1;
   padding: calc(var(--s) * 1.5) 0;
   transition: ease-in opacity 300ms;
   overflow-y: scroll;
   overflow-x: hidden;

   @starting-style {
      opacity: 0;
   }
}

body:has(.btn:first-child input:checked) {
   #myListing,
   #ordersSettings {
      display: none;
      opacity: 1;
   }
}
body:has(.btn:nth-child(2) input:checked) {
   #mappingContainer,
   #ordersSettings {
      display: none;
      opacity: 1;
   }
}
body:has(.btn:nth-child(3) input:checked) {
   #mappingContainer,
   #myListing {
      display: none;
      opacity: 1;
   }
}

.basic-grid.flip {
   position: relative;
   display: grid;
   width: 100%;
   grid-template-columns: 1fr 1fr;
   place-items: center;
   min-height: var(--grid-min);
   height: auto;
   grid-template-rows: auto;

   .open-close {
      position: relative;
      width: 100%;
      grid-column: span 2;
      height: var(--grid-min);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      gap: calc(var(--s));
      z-index: 3;
      font-size: calc(var(--s) * 1.5);

      input[type="checkbox"] {
         position: absolute;
         width: 100%;
         height: 100%;
         opacity: 0;
         -webkit-appearance: none;
         -moz-appearance: none;
         appearance: none;
      }

      i {
         font-size: calc(var(--s) * 1.8);
         transition: transform 200ms ease-in-out;
      }

      &:has(input[type="checkbox"]:checked) i {
         transform: scaleY(-1);
      }
   }

   &:has(.open-close input[type="checkbox"]:checked) {
      height: auto;
   }

   &:has(.open-close input[type="checkbox"]:not(:checked)) {
      height: var(--grid-min);
   }

   .take-inp.image {
      position: relative;
      width: 100%;
      height: 100%;
      aspect-ratio: 1/1;
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &.show {
         display: flex;
      }

      &>p {
         position: relative;
         width: 100%;
         height: calc(var(--s) * 2);
         display: grid;
         place-items: center;
         font-size: calc(var(--s) * 1.4);
         font-weight: 900;
         font-family: f6b;
      }

      section {
         position: relative;
         width: 100%;
         height: 90%;
         aspect-ratio: 1/1;
         overflow: hidden;

         input {
            display: none;
         }

         .img-box {
            position: relative;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-clip: content-box;
            width: auto;
            height: auto;
         }

         i {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            display: grid;
            background-color: light-dark(#fff8, #0008);
            place-items: center;
            font-size: calc(var(--s) * 4);
            opacity: 1;
            transition: opacity 400ms;
            cursor: pointer;

            &.sbi-bin {
               color: #f00;
            }
         }

         .img-box.active~i.sbi-upload4,
         .img-box:not(.active)~i.sbi-bin {
            display: none;
         }

         .img-box.active~i {
            opacity: 0;
         }

         .img-box.active~i:hover {
            opacity: 1;
         }
      }
   }
}

.take-inp {
   position: relative;
   width: 100%;
   height: calc(var(--s) * 3.8);
   border-radius: calc(var(--s) / 1.5);
   border: solid 1px light-dark(#fff3, #0003);
   display: grid;
   grid-template-columns: 12fr 18fr;
   justify-items: start;
   align-items: center;
   user-select: none;
   -ms-user-select: none;
   -webkit-user-select: none;

   &.only-switch {
      height: min-content;
      padding: calc(var(--s) / 4) 0;

      span {
         width: 90%;
      }
   }

   &.check-box {
      grid-template-columns: 3fr 1fr;

      section {
         border-radius: none;
         background: transparent;
         outline: none;
      }

      input[type="checkbox"] {
         transform: translateY(-20%);
      }
   }

   span {
      position: relative;
      width: auto;
      padding-left: 8px;
      font-size: calc(var(--s) * 1.4);
      font-weight: 900;
      font-family: f6b;
   }

   section {
      --margin: var(--s) / 2;
      position: relative;
      width: calc(100% - var(--margin));
      height: calc(100% - var(--margin));
      background: light-dark(#fff, #000);
      outline: solid 1px light-dark(#aaa, #444);
      display: grid;
      border-radius: calc(var(--s) / 1.5);
      grid-template-columns: 7fr;
      place-items: center;

      .take-value {
         position: relative;
         width: 100%;
         height: 100%;
         position: relative;
         display: grid;
         place-items: center;

         p {
            position: relative;
            width: 100%;
            height: 100%;
            display: grid;
            place-items: center;
            font-size: calc(var(--s) * 1.2);
            font-family: f6;
            background: transparent;

            &::before {
               content: "";
               position: absolute;
               right: 0;
               width: 1px;
               height: 80%;
               background-color: light-dark(#aaa, #444);
            }
         }

         .inp {
            position: relative;
            width: 100%;
            height: 100%;
            display: grid;
            place-items: center;
            grid-template-columns: 2fr 3fr 2fr;
            /* overflow: hidden; */


            &.text,
            &.area,
            &.selection {
               grid-template-columns: 1fr;
            }

            /* ----------- number input ----------- */
            input[type="number"],
            input[type="text"],
            input[type="date"],
            input[type="checkbox"],
            textarea,
            select {
               position: relative;
               width: 100%;
               border-radius: calc(var(--s) / 2);
               font-size: calc(var(--s) * 1.4);
               text-align: center;
               letter-spacing: 2px;
               background: light-dark(#fff, #000);
               color: light-dark(#000, #fff);
               -webkit-appearance: none;
               -moz-appearance: none;
               appearance: none;
               outline: none;
               border: none;
               font-family: f2b;

               &[type="text"] {
                  padding: 0 var(--s);
                  text-align: left;
               }

               &:focus {
                  border: none;
                  outline: none;
               }
            }

            input[type="text"] {
               font-size: calc(var(--s) * 1.2);
            }

            input[type="date"] {
               display: grid;
               place-items: center;
               font-size: calc(var(--s) * 1.2);
            }

            textarea {
               font-size: calc(var(--s) * 1);
               padding: calc(var(--s) / 2);
               height: 80%;
               resize: none;
               letter-spacing: 0;
               font-family: f3;
               text-align: left;

               &:focus {
                  position: absolute;
                  bottom: 0;
                  right: 0;
                  background: light-dark(#fff, #000);
                  width: 100%;
                  height: 80px;
                  z-index: 100;
                  padding: 10px;
                  box-shadow: 0 0 80px #000;
               }
            }

            select {
               width: 100%;
               height: 100%;
               transition: color 400ms;
               color: light-dark(#000, #fff);
               outline: solid 1px #00ff4066;

               option {
                  background-color: light-dark(#fff, #000);
                  color: light-dark(#000, #fff);
               }

               &:has(option:first-child:checked) {
                  color: #f00;
               }
            }

            button {
               position: relative;
               width: 100%;
               height: 100%;
               border: none;
               outline: none;
               text-decoration: none;
               display: grid;
               place-items: center;
               color: light-dark(#333, #ccc);
               background-color: transparent;
               transition: linear 200ms color, linear 200ms scale;
               scale: 1;
               font-size: calc(var(--s) * 2.4);
               cursor: pointer;

               &:hover {
                  color: light-dark(var(--black), var(--white));
                  scale: 1.05;
               }

               &.inc:active {
                  color: #00ff40;
                  scale: 1.05;
               }

               &.dec:active {
                  color: #ff0000;
                  scale: 1.05;
               }
            }
         }
      }
   }
}
