:root {
   color-scheme: light dark;
   --black: #000000;
   --white: #ffffff;
   --switch-color-off: var(--white);
   --switch-color-on: #85ff7a;

   --ww: 300px;

   --s: 12px; /* adjust this to control the size of switch input[type="checkbox"]*/

   --grid-min: 45px;

   user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   -webkit-user-select: none;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   -ms-overflow-style: none; /* IE and Edge */
   scrollbar-width: none; /* Firefox */

   /* outline: solid 1px #f004; */
}

*::-webkit-scrollbar {
   display: none;
}

body {
   position: relative;
   color: light-dark(var(--black), var(--white));
   background-color: light-dark(var(--white), var(--black));
   font-family: f3;
   width: calc(var(--ww) * 2 - var(--s));
   padding: var(--s) 0;
   height: auto;
   min-height: 100vh;
   display: flex;
   gap: calc(var(--s) / 2);
   justify-content: flex-start;
   align-items: center;
   flex-direction: column;
   overflow-y: scroll;
}

header {
   --h: calc(var(--s) * 6);
   position: relative;
   width: 100%;
   height: var(--h);
   display: flex;
   gap: calc(var(--s));
   justify-content: center;
   align-items: center;

   .logo {
      position: relative;
      width: calc(var(--h) - var(--s) / 4);
      height: calc(var(--h) - var(--s) / 4);

      img {
         position: absolute;
         width: 100%;
         height: 100%;
         background-size: cover;
         background-clip: center;
      }
   }
   section {
      position: relative;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
         font-size: calc(var(--s) * 1.8);
      }

      b {
         position: relative;
         justify-content: center;
         align-items: center;
         font-size: calc(var(--s) * 1.4);
         display: flex;
         gap: 0;

         .first {
            color: #ff4d00;
         }
         .second {
            color: #00ffd9;
         }
         .third {
            font-family: f6b;
            color: light-dark(#000, #fff);
            font-size: calc(var(--s) * 1.2);
         }
      }
   }
}

.br-tag {
   position: relative;
   width: calc(100% - var(--s) * 2);
   height: 5px;
   border-radius: 2px;
   margin: calc(var(--s));
   background-color: light-dark(var(--black), var(--white));
}


nav {
   position: relative;
   width: 100%;
   padding: 8px;
   display: grid;
   place-items: center;

   .options {
      position: relative;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      place-items: center;
      gap: 10px;

      .btn {
         position: relative;
         width: 100%;
         border-radius: 6px;
         padding: 10px;
         background-color: light-dark(#00f, #000);
         color: #fff;
         text-align: center;
         font-size: calc(var(--s) * 1.6);
         font-family: f1b;
         border: solid 1px light-dark(#0003, #fff3);
         transition: background-color 300ms, border 300ms;
         cursor: pointer;
         
         .option-btn {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            -ms-progress-appearance: none;
            cursor: var(--cursor); 
         }

         &:active,
         &:has( input[type="radio"]:checked) {
            background-color: light-dark(#000, #00f);
            border: solid 1px light-dark(#fff3, #0003);
         }
      }
   }
}

main {
   position: relative;
   width: 100%;
   height: auto;
   display: grid;
   align-items: center;
   animation: opacity linear 400ms;
}
main > div {
   position: relative;
   opacity: 1;
   transition: ease-in opacity 300ms;

   @starting-style {
      opacity: 0;
   }
}

body:has( .btn:first-child input:checked) #myListing,
body:has( .btn:last-child input:checked) #mappingContainer {
   display: none;
   opacity: 1;
}


.basic-grid {
   position: relative;
   width: 100%;
   display: grid;
   gap: calc(var(--s) / 2);
   grid-template-columns: 1fr 1fr;
   place-items: center;
   margin: 0;
   padding-top: var(--grid-min);
   background: light-dark(#0004, #222);
   height: var(--grid-min);
   overflow: hidden;

   .open-close {
      position: absolute;
      width: 100%;
      height: var(--grid-min);
      display: grid;
      place-items: center;
      top: 0;
      right: 0;
      margin-left: 0;
      cursor: pointer;
      z-index: 3;

      p {
         position: absolute;
         font-size: calc(var(--s) * 2);
         text-transform: uppercase;
         opacity: 1;
         transition: opacity 200ms ease-in-out;

         span {
            color: #00ffd9;
         }
      }
   }

   &.no-flip {
      height: auto;
      padding: var(--s) 0;
      padding-top: calc(var(--s) * 3);
      overflow-y: auto;
   }

   &:not(.no-flip).active {
      height: fit-content;
      padding-bottom: calc(var(--s));

      p:not(:nth-child(2)) {
         opacity: 0;
      }
   }

   &:not(.active) {
      p:not(:first-child) {
         opacity: 0;
      }
   }

   .take-inp {
      position: relative;
      width: calc(var(--ww) - var(--s));
      height: calc(var(--s) * 3.8);
      border-radius: calc(var(--s) / 4);
      outline: solid 1px #0001;
      display: grid;
      grid-template-columns: 12fr 18fr;
      justify-items: start;
      align-items: center;
      user-select: none;
      -ms-user-select: none;
      -webkit-user-select: none;

      &.only-switch {
         height: min-content;
         padding: calc(var(--s) / 4) 0;

         span {
            width: 90%;
         }
      }

      span {
         position: relative;
         width: auto;
         padding-left: 8px;
         font-size: calc(var(--s) * 1.8);
         font-weight: 900;
         font-family: f6b;
      }

      section {
         --margin: var(--s) / 2;
         position: relative;
         border-radius: inherit;
         width: calc(100% - var(--margin));
         height: calc(100% - var(--margin));
         background: light-dark(#fff, #000);
         outline: solid 1px light-dark(#aaa, #444);
         display: grid;
         grid-template-columns: 7fr;
         place-items: center;

         .take-value {
            position: relative;
            width: 100%;
            height: 100%;
            position: relative;
            display: grid;
            place-items: center;

            p {
               position: relative;
               width: 100%;
               height: 100%;
               display: grid;
               place-items: center;
               font-size: calc(var(--s) * 1.6);
               font-family: f6;
               background: transparent;

               &::before {
                  content: "";
                  position: absolute;
                  right: 0;
                  width: 1px;
                  height: 80%;
                  background-color: light-dark(#aaa, #444);
               }
            }

            .inp {
               position: relative;
               width: 100%;
               height: 100%;
               display: grid;
               place-items: center;
               grid-template-columns: 2fr 3fr 2fr;
               /* overflow: hidden; */

               &.text, &.selection {
                  grid-template-columns: 1fr;
               }

               /* ----------- number input ----------- */
               input[type="number"],
               input[type="text"],
               input[type="date"],
               textarea,
               select {
                  position: relative;
                  width: 100%;
                  border-radius: calc(var(--s) / 6);
                  font-size: calc(var(--s) * 1.6);
                  text-align: center;
                  letter-spacing: 2px;
                  background: #0000;
                  -webkit-appearance: none;
                  -moz-appearance: none;
                  appearance: none;
                  outline: none;
                  border: none;
                  font-family: f2b;
                  
                  &:focus {
                     border: none;
                     outline: none;
                  }
               }
               input[type="date"] {
                  display: grid;
                  place-items: center;
                  font-size: calc(var(--s) * 1.2);
               }
               textarea {
                  font-size: calc(var(--s) * 1);
                  resize: none;
                  letter-spacing: 0;
                  font-family: f3;
                  text-align: left;
                  padding: calc(var(--s) / 2);

                  &:focus {
                     position: absolute;
                     bottom: 0;
                     right: 0;
                     background: #000;
                     width: 100%;
                     height: 80px;
                     z-index: 100;
                     padding: 10px;
                     box-shadow: 0 0 80px #000;
                  }
               }

               select {
                  width: 100%;
                  height: 100%;
               }
               button {
                  position: relative;
                  width: 100%;
                  height: 100%;
                  border: none;
                  outline: none;
                  text-decoration: none;
                  display: grid;
                  place-items: center;
                  color: light-dark(#333, #ccc);
                  background-color: transparent;
                  transition: linear 200ms color, linear 200ms scale;
                  scale: 1;
                  font-size: calc(var(--s) * 2.3);
                  cursor: pointer;

                  &:hover {
                     color: light-dark(var(--black), var(--white));
                     scale: 1.05;
                  }
                  &.inc:active {
                     color: #00ff40;
                     scale: 1.05;
                  }
                  &.dec:active {
                     color: #ff0000;
                     scale: 1.05;
                  }
               }
            }
         }
      }
   }

   &:has(.take-inp.image) {
      .image {
         grid-template-columns: 1fr;
         grid-template-rows: 10fr 14fr;
         place-items: center;
         height: auto;
         grid-template-rows: auto;

         section {
            --img-s: calc(var(--ww) - var(--s) * 2);
            position: relative;
            width: var(--img-s);
            height: var(--img-s);

            input {
               display: none;
            }

            .img-box {
               position: relative;
               background-size: cover;
               background-position: center;
               background-repeat: no-repeat;
               background-clip: content-box;
               width: auto;
               height: auto;
            }

            i {
               position: absolute;
               width: 100%;
               height: 100%;
               left: 0;
               top: 0;
               display: grid;
               background-color: light-dark(#fff8, #0008);
               place-items: center;
               font-size: calc(var(--s) * 4);
               opacity: 1;
               transition: opacity 400ms;
               cursor: pointer;

               &.sbi-bin {
                  color: #f00;
               }
            }

            .img-box.active ~ i.sbi-upload4,
            .img-box:not(.active) ~ i.sbi-bin {
               display: none;
            }

            .img-box.active ~ i {
               opacity: 0;
            }

            .img-box.active ~ i:hover {
               opacity: 1;
            }
         }
      }
   }
}

/* ----------- checkbox input ----------- */
input[type="checkbox"] {
   --S: calc(var(--s) * 1.3);
   height: calc(var(--S) + var(--S) / 5);
   width: auto;
   aspect-ratio: 2.25;
   border-radius: var(--S);
   outline: solid 1px #7773;
   margin: calc(var(--S) / 2);
   display: grid;
   cursor: pointer;
   background-color: var(--switch-color-off);
   box-sizing: content-box;
   overflow: hidden;
   transition: 300ms 100ms;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}
input[type="checkbox"]:before {
   content: "";
   padding: calc(var(--S) / 10);
   --_g: radial-gradient(
      circle closest-side at calc(100% - var(--S) / 2) 50%,
      #000 96%,
      #0000
   );
   background: var(--_g) 0 / var(--_p, var(--S)) 100% no-repeat content-box,
      var(--_g) var(--_p, 0) / var(--S) 100% no-repeat content-box, #fff;
   mix-blend-mode: darken;
   filter: blur(calc(var(--S) / 12)) contrast(11);
   transition: 400ms, background-position 400ms 100ms,
      padding
         cubic-bezier(
            0,
            calc(var(--_i, -1) * 200),
            1,
            calc(var(--_i, -1) * 200)
         )
         250ms 100s;
}
input[type="checkbox"]:checked {
   background-color: var(--switch-color-on);
}
input[type="checkbox"]:checked:before {
   padding: calc(var(--S) / 10 + 0.05px) calc(var(--S) / 10);
   --_p: 100%;
   --_i: 1;
}

/*  remove number input increase decrease */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

/* Firefox */
input[type="number"] {
   -moz-appearance: textfield;
}

#MyListingClearBtn,
#MyMappingClearBtn {
   position: relative;
   width: 100%;
   height: calc(var(--s) * 6);
   display: grid;
   place-items: center;

   .clear {
      position: relative;
      font-size: calc(var(--s) * 2);
      font-family: f1b;
      border-radius: 6px;
      padding: calc(var(--s) / 2) calc(var(--s) * 2);
      cursor: pointer;
      background: #ffffff;
      color: #000000;
      transition: ease-out background 300ms;
      
      &:active {
         background: #ff0000;
         transition: ease-out background 1s;
      }

      &.complete {
         transition: ease-out background 300ms;
         background: #00ff00;
      }
   }
}